<!DOCTYPE html>
<html>
  <head>
    <title>Share code API</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>This is API for share code</p>
  </body>
</html>
