.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #dd5e0d, #dc343c);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__navbar-list {
  list-style: none;
  padding-left: 0;
  margin: 4px 0;
  display: flex;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
}

.--qr:hover .header__qrcode {
  display: block;
}

.--noti:hover .header__noti {
  display: block;
}

.--divine::after {
  content: "";
  height: 12px;
  position: absolute;
  display: block;
  border-left: 1px solid #fff;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
}

.header__navbar-item,
.header__navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 350;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
  display: inline-flex;
  align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon-link {
  color: var(--white-color);
  text-decoration: none;
}

.header__navbar-item--bold {
  font-weight: 450;
}

.header__navbar-icon {
  font-size: 1.6rem;
  margin: 0 2px 0 4px;
}

.header__navbar-title--nopointer {
  cursor: text;
  color: var(--white-color);
}

.header__navbar-user {
  display: flex;
  justify-items: center;
}

.header__navbar-user-img {
  width: 22px;
  height: 22px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.header__navbar-user-name {
  margin-left: 4px;
  font-size: 1.4rem;
  font-weight: 450;
}

.header__navbar-user:hover .header__navbar-user-menu {
  display: block;
}

.header__navbar-user-menu {
  position: absolute;
  z-index: 3;
  top: calc(100% + 10px);
  right: 0;
  width: 160px;
  padding: 0;
  list-style: none;
  border-radius: 2px;
  background-color: var(--white-color);
  box-shadow: 0 1px 2px #c9c9c9;
  display: none;
}

.header__navbar-user-menu::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -25px;
  right: 6px;
  border-width: 15px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 8px 16px;
  display: block;
}

.--separate {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header__navbar-user-item a:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.header__navbar-user-item a:hover {
  background-color: #f4f4f4;
}

/* Header QR code */

.header__qrcode {
  width: 180px;
  background: var(--white-color);
  position: absolute;
  top: calc(100% + 10px);
  border-radius: 2px;
  display: none;
  animation: fadeIn 0.5s;
  will-change: opacity;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header__qrcode::before {
  left: 0;
  top: -10px;
  content: "";
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
}

.header__qrcode-img {
  width: 100%;
}

.header__qrcode-apps {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 5px;
  justify-content: space-between;
}

.header_qrcode-store-img {
  height: 15px;
}

/* Header notification */
.header__noti {
  position: absolute;
  z-index: 3;
  top: calc(100% + 10px);
  right: 0;
  width: 400px;
  cursor: default;
  border: 1px solid #c9c9c9;
  display: none;
  border-radius: 2px;
  background-color: var(--white-color);
  transform-origin: 360px top;
  animation: headerNotiGrow 0.1s linear;
  will-change: opacity, transform;
}

@keyframes headerNotiGrow {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.header__noti::before {
  left: 320px;
  top: -30px;
  content: "";
  border-width: 20px 40px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  display: block;
  position: absolute;
}

.header__noti-header {
  height: 40px;
  background-color: var(--white-color);
}

.header__noti-header h3 {
  color: #333;
  margin: 0;
  padding: 0 10px;
  cursor: text;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}

.header__noti-list {
  padding-left: 0;
}

.header__noti-item {
  display: flex;
  background-color: rgba(219, 62, 45, 0.2);
}

.header__noti-item:hover {
  background-color: #f8f8f8;
}

.header__noti-item--viewed {
  background-color: var(--white-color);
}

.header__noti-link {
  width: 100%;
  display: flex;
  padding: 5px 10px;
  text-decoration: none;
}

.header__noti-img {
  width: 40px;
  object-fit: contain;
}

.header__noti-info {
  margin-left: 10px;
}

.header__noti-name {
  color: var(--text-color);
  display: block;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.header__noti-desc {
  color: rgba(3, 3, 3, 0.7);
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
  line-height: 1.5rem;
}

.header__noti-footer {
  display: flex;
}

.header__noti-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px;
  margin: auto;
  font-size: 1.6rem;
  font-weight: 400;
}

/* Container */
.container {
  background-color: #f5f5f5;
}

.contain {
  padding-top: 30px;
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 5px 8px;
  margin-top: 0;
  margin-bottom: 5px;
  border: 1px solid #f5f5f5;
}

.category__heading-icon {
  font-size: 1.4rem;
  padding: 1px 0;
}

.category-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: hidden;
}

.category-list__heading {
  margin: 10px 0 6px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  cursor: pointer;
}

.category-list__heading--active {
  color: var(--primary-color);
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  text-decoration: none;
  position: relative;
  right: 0;
  color: var(--text-color);
  font-size: 1.6rem;
  padding: 4px 8px;
  display: block;
  transition: right linear 0.1s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
  cursor: pointer;
}

/* Home sort + filter */
.home-filter {
  display: flex;
  padding: 12px 22px;
  align-items: center;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__label {
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}

.home-filter__paging {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__paging-num {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-right: 20px;
}

.home-filter__paging-curr {
  color: var(--primary-color);
}

.home-filter__paging-ctrl {
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__paging-btn {
  flex: 1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;
}

.home-filter__paging-btn:first-child {
  border-right: 1px solid #afafaf;
}

.home-filter__paging-btn i {
  margin: auto;
  font-size: 1.4rem;
  color: #555;
}

.home-filter__paging-btn--disable {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__paging-btn--disable i {
  color: #ccc;
}

/* Product item */
.product {
  margin-bottom: 10px;
}

.product-item {
  display: block;
  text-decoration: none;
  background-color: var(--white-color);
  margin-bottom: 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}

.product-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);
}

.product-item__img {
  padding-top: 100%; /* 100% voi chieu ngang cua the hien tai */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 1px solid #ececec;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.product-item__name {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.8rem;
  margin: 10px 10px 4px;
  height: 3.6rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-item__price {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-item__price-old {
  margin-left: 10px;
  font-size: 1.2rem;
  color: #666;
  text-decoration: line-through;
}

.product-item__price-cur {
  margin-left: 10px;
  font-size: 1.4rem;
  color: var(--primary-color);
  font-size: 16px;
  letter-spacing: 1px;
}

.product-item__action {
  display: flex;
  justify-content: space-between;
  margin: 4px 10px;
}

.product-item__action-like {
  font-size: 1.4rem;
}

i.product-item__action-liked-icon {
  display: none;
  color: #f63d30;
}

.product-item__action-like--liked .product-item__action-liked-icon {
  display: inline-block;
}

.product-item__action-like--liked .product-item__action-like-icon {
  display: none;
}

.product-item__rating {
  color: #d1d1d1;
  font-size: 1rem;
}

.product-item__star {
  font-size: 1.6rem;
}

.product-item__heart {
  font-size: 1.6rem;
  color: red;
}

.product-item__star--gold {
  color: var(--star-gold-color);
}

.product-item__origin {
  color: #595959;
  display: flex;
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 300;
  justify-content: space-between;
}

.product-item__sold {
  margin-left: 6px;
  font-size: 1.2rem;
  color: var(--text-color);
}

.product-item__favorite {
  position: absolute;
  top: 10px;
  left: -4px;
  color: var(--primary-color);
  background-color: currentColor; /* background color = color cua element, lam vay de dong nhat mau giua element cha va con */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding: 0 4px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.product-item__favorite::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 3px solid currentColor; /* curColor = color cua element cha => color cha change thi color con cung change */
  border-left: 3px solid transparent;
  filter: brightness(60%); /* chinh do sang cho color */
}

.product-item__favorite span {
  color: var(--white-color);
}

.product-item__favorite i {
  color: var(--white-color);
  font-size: 1rem;
}

.product-item__sale {
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(255, 212, 36, 0.9);
  background-color: currentColor;
  display: flex;
  flex-direction: column;
  padding: 2px;
  font-size: 1.2rem;
  width: 36px;
  height: 32px;
  border-top-right-radius: 2px;
}

.product-item__sale-percent {
  color: red;
  margin: 0 auto;
  line-height: 1.4rem;
}

.product-item__sale-label {
  color: var(--white-color);
}

.product-item__sale::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  border-right: 18px solid currentColor; /* curColor = color cua element cha => color cha change thi color con cung change */
  border-left: 18px solid currentColor;
  border-bottom: 4px solid transparent;
}

.comingsoon {
  height: 675px;
  background-size: contain;
  background-image: url(../img/comingsoon.jpg);
  background-repeat: no-repeat;
  margin-bottom: 16px;
}

/* Authen modal*/
.auth-form {
  width: 500px;
  border-radius: 2px;
  background-color: var(--white-color);
}

.auth-form__container {
  padding: 0 32px;
  overflow: auto;
}

.auth-form__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4px 5px;
}

.auth-form__heading {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  cursor: pointer;
}

.auth-form__group {
  margin-bottom: 20px;
}

.auth-form__multiple {
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.auth-form__multiple-label {
  width: 12.5%;
}

.auth-form__multiple-l {
  display: flex;
}

.auth-form__multiple-choi {
  width: 12.5%;
  text-align: center;
  margin: 0 4px;
  border: 1px solid #afafaf;
}

.auth-form__multiple-choice {
  width: 17.5%;
  text-align: center;
  margin: 0 4px;
  border: 1px solid #afafaf;
}

.auth-form__multiple-choice:hover,
.auth-form__multiple-choi:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px #c4c3c3;
}

.auth-form__multiple--choice {
  background-color: #dd4533;
  box-shadow: 1px 1px 1px #c4c3c3;
  color: var(--white-color);
  border: none;
}

.auth-form__group-item {
  display: flex;
  align-items: center;
}

.auth-form__label {
  width: 15%;
  font-size: 1.6rem;
  color: var(--text-color);
}

.auth-form__input {
  width: 100%;
  height: 40px;
  border: #dbdbdb solid 1px;
  outline-color: rgba(0, 0, 0, 0.5);
  padding: 0 12px;
  font-size: 1.4rem;
  border-radius: 2px;
}

.auth-form__input--err {
  border: #dc143c solid 1px;
  margin-bottom: 0;
}

.auth-form__error {
  font-size: 1.2rem;
  color: #dc143c;
  margin: 2px 2px 4px;
  line-height: 1.4rem;
}

.auth-form__aside {
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__controls {
  display: flex;
  margin-top: 60px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

.auth-form__controls-back {
  margin-right: 8px;
}

.auth-form__socials {
  padding: 14px;
  display: flex;
  border-radius: 2px;
  justify-content: space-around;
  background-color: #f5f5f5;
}

.auth-form__socials-icon {
  margin-right: 5px;
  font-size: 1.6rem;
}

.btn--with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--with-icon:hover {
  opacity: 0.8;
}

.--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
  padding: 0 5px;
}

.--google {
  color: var(--white-color);
  background-color: #4285f4;
  padding: 0 5px;
}

.auth-form__help {
  display: flex;
  justify-content: space-between;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

/* header with search */
.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  align-items: center;
  margin: 0 8px;
}

.header__logo {
  width: 200px;
}

.header__logo-link {
  color: transparent;
  text-decoration: none;
}

.header__logo-img {
  width: 160px;
}

.header__search {
  flex: 1;
  height: 40px;
  background-color: var(--white-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.header__search-input-warp {
  flex: 1;
  height: 100%;
  position: relative;
}

.header__search-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 10px;
  border-radius: 2px;
}

.header__search-input:focus ~ .header__search-history {
  display: block;
}

.header__search-history {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  width: 90%;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 5px #c4c3c3;
  overflow: hidden;
  display: none;
  z-index: 2;
}

.header__search-history-heading {
  margin: 5px 10px 0;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__search-history-list {
  padding-left: 0;
  list-style: none;
  margin: 5px 0 0;
}

.header__search-history-item {
  height: 38px;
  padding: 0 10px;
}

.header__search-history-item:hover {
  background-color: #dfdfdf;
}

.header__search-history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}

.header__search-select {
  border-left: 1px solid #ccc;
  padding-left: 16px;
  position: relative;
  cursor: pointer;
}

.header__search-select-label {
  font-size: 1.4rem;
  color: var(--text-color);
}

.header__search-select-icon {
  font-size: 1.4rem;
  color: #4a4a4a;
  margin: 0 16px 0 8px;
  position: relative;
  top: 1px;
}

.header__search-btn {
  background-color: var(--primary-color);
  border: none;
  height: 34px;
  width: 60px;
  border-radius: 2px;
  margin-right: 3px;
  outline: none;
}

.header__search-btn:hover {
  background-color: #dc6262;
}

.header__search-btn-icon {
  font-size: 1.6rem;
  color: var(--white-color);
}

.header__search-select:hover .header__search-option {
  display: block;
  overflow: unset;
}

.header__search-option {
  position: absolute;
  right: 0;
  top: 100%;
  width: 125px;
  list-style: none; /* ấn dấu chấm của ul li */
  padding: 0;
  margin: 1.4rem 0 0;
  border-radius: 2px;
  box-shadow: 0 1px 1px #e4e4e4;
  overflow: hidden;
  display: none;
  animation: fadeIn linear 0.1s;
  z-index: 2;
}

.header__search-option::before {
  content: "";
  display: block;
  width: 100%;
  height: 1.4rem;
  position: absolute;
  top: -1.4rem;
  left: 0;
}

.header__search-option-item {
  background-color: var(--white-color);
  padding: 8px 8px;
  /* text-align: right; */
}

.header__search-option-item:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.header__search-option-item span {
  font-size: 1.4rem;
  color: var(--text-color);
  padding-left: 10px;
}

.header__search-option-item i {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0 4px 0 8px;
  display: none;
}

.--active svg {
  display: inline-block;
}

.header__cart {
  width: 150px;
  margin-top: 5px;
  text-align: center;
}

.header__cart-wrap {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 0 5px;
}

.header__cart-wrap:hover .header__cart-list {
  display: block;
}

.header__cart-icon {
  font-size: 2.6rem;
  color: var(--white-color);
}

.header__cart-notice {
  border: 2px solid #ee4d2d;
  position: absolute;
  padding: 2px 7px;
  top: -10px;
  right: -12px;
  font-size: 1.4rem;
  line-height: 1.4rem;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: var(--white-color);
}

.header__cart-list {
  position: absolute;
  top: calc(100% + 10px);
  right: -18px;
  background-color: var(--white-color);
  width: 400px;
  border-radius: 2px;
  box-shadow: 0 2px 5px #ccc;
  display: none;
  animation: fadeIn linear 0.1s;
  cursor: default;
  z-index: 2;
}

.header__cart-list::before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -25px;
  right: 4px;
  border-width: 15px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
}

.--no-cart {
  padding: 60px 0;
}

.--no-cart .header__cart-no-cart-img,
.--no-cart .header__cart-no-cart-msg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header__cart-no-cart-img {
  width: 25%;
  display: none;
}

.header__cart-no-cart-msg {
  display: none;
  font-size: 1.4rem;
  margin: 20px 0 0;
}

/* Cart item */
.header__cart-heading {
  text-align: left;
  margin: 8px 0 8px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.header__cart-list-item {
  padding-left: 0;
  list-style: none;
  max-height: 50vh;
  overflow-y: auto;
}

.header__cart-item {
  display: flex;
  align-items: center;
}

.header__cart-item:hover {
  background-color: #f8f8f8;
}

.header__cart-item-img {
  width: 42px;
  height: 42px;
  margin: 10px;
  border: 1px solid #e8e8e8;
}

.header__cart-item-info {
  width: 100%;
  margin-right: 10px;
}

.header__cart-item-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart-item-name {
  padding-right: 10px;
  font-size: 1.4rem;
  font-weight: 470;
  line-height: 1.8rem;
  max-height: 3.6rem;
  overflow: hidden;
  margin: 0;
  flex: 1;
  display: -webkit-box; /* Dung de tao ra dau ... cho header dai */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: left;
}

.header__cart-item-price {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--primary-color);
}

.header__cart-item-multi {
  font-size: 0.9rem;
  color: #757575;
  margin: 0 4px;
}

.header__cart-item-quant {
  font-size: 1.2rem;
  color: #757575;
}

.header__cart-item-body {
  display: flex;
  justify-content: space-between;
}

.header__cart-item-description {
  color: #757575;
  font-size: 1.2rem;
  font-weight: 340;
}

.header__cart-item-remove {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.header__cart-item-remove:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.header__cart-view {
  float: right;
  margin: 0 10px 10px 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
}

.header__cart-view:hover {
  background-color: #f05d41;
}

.header__cart-view span {
  font-size: 1.4rem;
  margin: auto;
}

/* Pagination */
.product__pagination {
  margin: 20px 0 40px;
}

.product__pagination li:first-child a {
  margin-left: 0;
}

.product__pagination li:last-child a {
  margin-right: 0;
}

/* Footer */
.footer {
  border-top: 4px solid var(--primary-color);
}

.footer__heading {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 40px 0 20px;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-item {
  display: flex;
}

.footer-item__link {
  text-decoration: none;
  font-size: 1.4rem;
  color: #737373;
  padding: 2px 0;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer-item__link--revert {
  flex-direction: row-reverse;
}

.footer-item__link--enhance {
  min-width: 80px;
  margin-left: 8px;
  justify-content: center;
}

.footer-item__link:hover {
  color: var(--primary-color);
}

.footer-item__icon {
  font-size: 1.6rem;
  margin-top: -1px;
  margin-right: 8px;
}

.footer-item__icon.fa-facebook {
  font-size: 1.4rem;
}

.footer__download {
  display: flex;
}

.footer__download-qr {
  width: 84px;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 15px;
}

.footer__download-apps {
  height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__download-apps-img {
  height: 16px;
  cursor: pointer;
}

/* Header sell */
.header-sell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-sell__logo {
  height: 100%;
}

.header-sell__logo-link {
  color: transparent;
  text-decoration: none;
}

.header-sell__user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-sell__user-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header-sell__user-name {
  font-size: 2rem;
  color: var(--white-color);
  margin: 0 4px;
  line-height: 2.2rem;
}

/* Store */
.option-store-wrap {
  display: flex;
  margin: 10px 0;
  background-color: var(--white-color);
  padding: 6px;
}

.option-store {
  margin-left: auto;
  margin-right: 43px;
  display: flex;
  font-size: 2rem;
  cursor: pointer;
  padding: 4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.option-store p {
  margin: 0 4px;
}

.store {
  margin-bottom: 10px;
  background-color: var(--white-color);
  overflow: hidden;
}

.store-wrap {
  margin: 6px 0 10px;
}

.store__nav-options {
  display: flex;
  align-items: center;
}

.store__nav-tab {
  height: 40px;
  width: 400px;
  font-size: 1.8rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  cursor: pointer;
}

.store__nav-tab:hover {
  color: var(--primary-color);
}

.store__nav-tab--active {
  border-bottom: 2px solid #dc143c;
  color: var(--primary-color);
}

.store__contain-wrap {
  width: 1140px;
  margin: 0 auto;
}

.store__contain-item {
  display: flex;
  flex-wrap: wrap;
}

.store-wrap .grid__colum-2-4 {
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px 19px 0;
  border: 1px solid #9d9d9d;
}

.store-wrap .product-item__name {
  line-height: 2.8rem;
  height: 3.2rem;
  -webkit-line-clamp: 1;
  font-size: 1.8rem;
}

.product-item__ctrl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

.product-item__ctrl-btn {
  min-width: 100px;
  border: 1px solid #d6d6d6;
}

.product-item__ctrl-btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Create store */
.auth-form__input-file {
  display: none;
}

.auth-form__input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.auth-form__input-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-color);
}

/* Product per store*/
.store-product__heading {
  font-size: 2.8rem;
  margin: 10px 0;
  padding: 12px 0;
  width: 100%;
  line-height: 3.2rem;
  color: var(--white-color);
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 1px rgb(44 44 44 / 20%);
  border-radius: 16px;
  background-image: linear-gradient(45deg, #dc143c, #e9a01a);
}

.store-product__header-add {
  margin-left: auto;
}

.store-product__header-add p {
  padding: 8px;
  margin: 0 0 10px;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  min-width: 140px;
  line-height: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(45deg, #dc143c, #e9a01a);
}
.store-product__header-nav {
  display: flex;
  width: 100%;
  font-size: 1.6rem;
}

.store-product__header-nav-item {
  display: flex;
  justify-content: space-evenly;
  width: var(--width);
  border: 1px solid #b2b2b2;
  padding: 4px;
}

.store-product__body {
  height: 660px;
  margin: 0 5px;
  border: 1px solid #b2b2b2;
  overflow-x: scroll;
}

.store-product__body-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

.store-item {
  display: flex;
  justify-content: space-evenly;
  padding: 4px;
  align-items: center;
  width: 10%;
  color: var(--text-color);
  margin: 0 1px;
}

.store-item__number {
  width: 4%;
}

.store-item__img {
  width: 100%;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 5;
  border: 1px solid #e6e6e6;
}

.store-item__name {
  width: 18%;
}

.store-item__desc {
  flex-grow: 1;
}

.store-item__desc-content {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 2rem;
}

.store-item__icon {
  font-size: 1.8rem;
  cursor: pointer;
}

.store-item__icon:hover {
  color: var(--primary-color);
}

.order__label {
  font-size: 18px;
  margin-right: 8px;
  color: var(--text-color);
}

.order__date {
  padding: 4px 8px;
  margin: 0 0 10px;
  font-size: 1.6rem;
  background-color: transparent;
  color: var(--text-color);
  min-width: 140px;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid #afafaf;
}

.order__wait {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__wait-content {
  font-size: 26px;
  line-height: 30px;
}

/* view Category mode: view */
.category__item--disable {
  cursor: no-drop;
}

.category__multi-choice--disable:hover {
  box-shadow: none;
  cursor: no-drop;
}

/* Loading screen */
.loading {
  top: 50%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  position: absolute;
}

.loading div {
  margin: 10px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.loading__one {
  animation-name: load-one;
}

@keyframes load-one {
  30% {
    transform: translateY(-50%);
  }
}

.loading__two {
  animation-name: load-two;
}

@keyframes load-two {
  50% {
    transform: translateY(-50%);
  }
}

.loading__three {
  animation-name: load-three;
}

@keyframes load-three {
  70% {
    transform: translateY(-50%);
  }
}

/* Popup */
.app__popup {
  position: absolute;
  left: 50%;
  bottom: 20px;
  width: 25%;
  color: var(--white-color);
  border-radius: 4px;
  opacity: 0.9;
  transform: translateX(-50%);
  z-index: 10;
}

.popup__wrap {
  padding: 10px;
}

.popup__header {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 10px;
}

.popup__content {
  font-size: 1.6rem;
  line-height: 1.8rem;
}

/* Single product page */
.singleProd__breadcrum {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: var(--text-color);
}

.breadcrum--disable {
  display: none;
}

.singleProd__breadcrum-home {
  color: #05a;
  cursor: pointer;
}

.singleProd__breadcrum-divide {
  margin: 0 4px;
}

.singleProd__brief {
  display: flex;
  margin: 10px 0;
  padding: 0;
  background-color: var(--white-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.brief__image-wrap {
  width: 480px;
  padding: 15px;
}

.brief__image {
  position: relative;
}

.brief__image-item {
  width: 100%;
  padding-top: 100%;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.brief__product {
  width: calc(100% - 480px);
}

.brief__product-wrap {
  padding: 15px 20px 15px 10px;
}

.brief__product-header {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
  margin: 0;
  vertical-align: sub;
  max-height: 4.8rem;
  line-height: 2.4rem;
  overflow: hidden;
  max-width: 70rem;
  font-size: 2rem;
  word-wrap: break-word;
}

.brief__product-price {
  margin-top: 10px;
  padding: 15px 20px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 66px;
  width: 100%;
  color: #dc143c;
  font-size: 3rem;
}

.brief__product-shipping {
  margin-top: 20px;
  padding: 0 20px;
}

.brief__product-shipping-wrap {
  display: flex;
  flex-direction: column;
}

.shipping-wrap {
  display: flex;
}

.brief__product-label {
  width: 110px;
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 1.4rem;
}

.shipping {
  display: flex;
}

.shipping__item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shipping__item-choose {
  display: flex;
  font-weight: 500;
}

.shipping__icon {
  font-size: 1.6rem;
}

.brief__color {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 51rem;
}

.brief__color-item {
  cursor: pointer;
  min-width: 8rem;
  min-height: 3.2rem;
  box-sizing: border-box;
  padding: 4px 12px;
  margin: 0 8px 8px 0;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  position: relative;
  background: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.brief__color-item:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.brief__color-item--choose {
  cursor: pointer;
  min-width: 8rem;
  min-height: 3.2rem;
  box-sizing: border-box;
  padding: 4px 12px;
  margin: 0 8px 8px 0;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
}

.brief__product-amount {
  margin-top: 20px;
  padding: 0 20px;
}

.amount__choose {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.amount__item {
  outline: none;
  cursor: pointer;
  line-height: 1.6rem;
  letter-spacing: 0;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  height: 32px;
  width: 32px;
  border: 1px solid #dbdbdb;
}

.amount__input {
  width: 50px;
  border-left: 0;
  border-right: 0;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  cursor: text;
}

.amount__quantity {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--text-color);
  user-select: none;
}

.brief__product-controls {
  margin-top: 16px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.brief__product-btn {
  margin-right: 10px;
  border: 1px solid var(--primary-color);
  background-color: rgba(221, 69, 51, 0.1);
  color: var(--primary-color);
  font-size: 1.6rem;
}

.singleProd__content {
  margin: 10px 0;
  background-color: var(--white-color);
}

.singleProd__content-wrap {
  padding: 10px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.content__wrap {
  padding: 10px 10px 0;
}

.content__header {
  background-color: #fafafa;
  padding: 14px;
  font-size: 2rem;
  line-height: 2.2rem;
  text-transform: capitalize;
}

.content__body {
  margin: 20px 15px 15px;
}

.content__body-item {
  margin-bottom: 14px;
  font-size: 1.6rem;
  display: flex;
}

.content__body-label {
  width: 100px;
  margin-right: 40px;
  color: rgba(0, 0, 0, 0.55);
}

.comment__body-item {
  padding: 12px 0 10px 4px;
  font-size: 1.4rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.comment__body-item--null {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.comment__body-item--null .item__icon {
  width: 9.2rem;
  height: 8.3rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.comment__body-item--null .item__text {
  margin-top: 18px;
  font-size: 1.6rem;
  color: var(--text-color);
}

.comment__name {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.65);
}

.comment__rating {
  display: flex;
  margin-top: 6px;
}

.comment__icon {
  font-size: 16px;
  margin-right: 2px;
}

.comment__rating--rated {
  fill: var(--primary-color);
}

.comment__content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  white-space: pre-wrap;
  word-break: break-word;
  margin: 12px 0;
}

.comment__time {
  color: rgba(0, 0, 0, 0.3);
}

/* Cart page */
.cart__header {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  overflow: hidden;
  border-radius: 3px;
  height: 55px;
  font-size: 14px;
  background: #fff;
  text-transform: capitalize;
  margin-bottom: 12px;
  color: #888;
  padding: 0 20px;
}

.cart__header-item {
  text-align: center;
  width: 10%;
}

.cart__header-item--50 {
  width: 50%;
}

.cart__body {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  overflow: hidden;
  border-radius: 3px;
  font-size: 14px;
  background: #fff;
  margin-bottom: 12px;
  color: var(--text-color);
  padding: 0 20px;
}

.cart__body-wrap {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px 0;
  border-bottom: 1px solid #c9c9c9;
}

.cart__body-item {
  display: flex;
}

.cart__img {
  width: 80px;
  height: 80px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.cart__item-name {
  padding: 5px 20px 0 10px;
  font-size: 14px;
  width: 268px;
  color: var(--text-color);
  line-height: 16px;
  display: flex;
  flex-direction: column;
}

.cart__item-name p {
  margin: 0;
  max-height: 32px;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.cart__total {
  color: var(--primary-color);
}

.cart__icon {
  font-size: 26px;
  padding: 2px;
  cursor: pointer;
}

.cart__icon:hover {
  color: var(--primary-color);
}

.cart__footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
  overflow: hidden;
  border-radius: 3px;
  height: 65px;
  font-size: 14px;
  background: #fff;
  text-transform: capitalize;
  margin-bottom: 12px;
  color: #888;
  padding: 0 20px;
}

.cart__finalPrice {
  width: 25%;
  color: var(--text-color);
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__finalPrice p {
  margin: 0;
  margin-left: 4px;
  color: var(--primary-color);
}

/* User order  */
.order__nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #d6d6d6;
  color: #787878;
}

.order__nav-item {
  width: 25%;
  padding: 20px 10px;
}

.order__body {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d6d6d6;
  color: var(--text-color);
}

.order__id span {
  color: #0b74e5;
  cursor: pointer;
  line-height: 18px;
  font-size: 14px;
}

.order__id span:hover {
  opacity: 0.95;
}

.comment-form__group {
  display: flex;
  align-items: center;
}

.comment-form__label {
  font-size: 16px;
  line-height: 18px;
}

.comment-form__input {
  width: 100%;
  border: #dbdbdb solid 1px;
  outline-color: rgba(0, 0, 0, 0.5);
  padding: 8px 12px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 2px;
  margin: 0;
  background-color: transparent;
  margin-top: 6px;
}

.comment-form__icon {
  height: 22px;
}

.comment-form__star {
  margin: 0 10px;
  font-size: 22px;
  cursor: pointer;
}

.comment-form__star--fill {
  color: #e9a01a;
}
